<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
	<title>Cari Dokter</title>
	<script src="/js/landingPage.js"></script>
	<script src="/js/cariDokter.js"></script>
	<script src="/js/getDokter.js"></script>
	<style>
		th {
			color: white;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<h1>Cari Dokter</h1>
		<p></p>

		<p></p>
		<div class="row">
			<div class="container" id="isidata">
				
			</div>

		</div>
		<div id="pagination">
		</div>
	</div>

</body>

</html>